.coll {
    width: 75%; /* tamanho colunas horizontal*/
}
.roww:after {
    content: "";
    display: table;
    clear: both;
}
.moll {
    width: 10%;
}
.camera {
   width: 45%
}
#chatroom {
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    width: 20%;
    height: 25%;
    overflow: auto;
    border-style: groove;
    overflow-wrap: break-word;
}
p.mensagem::after {
    margin: 1;
    width: 100%;
    height: 30px;
    font-size: medium;
    font-family: 'Comfortaa', sans-serif;
}
p.status {
    bottom: 100%;
    margin: 0px;
    width: 100%;
    height: 15px;
    font-size: smaller;
    font-style: italic;
    font-family: 'Comfortaa', sans-serif;
}
@media screen and (max-width: 1024px) {
    .coll {
        width: 100%; /* tamanho colunas horizontal*/
    }
    .moll {
        width: 10%;
    }
    .camera {
       width: 45%
    }
    #chatroom {
    width: 30%;
    height: 25%;
    }
}
@media screen and (max-width: 768px) {
    .coll {
        width: 100%; /* tamanho colunas horizontal*/
    }
    .moll {
        width: 10%;
    }
    .camera {
       width: 80%
    }
    #chatroom {
    width: 45%;
    height: 25%;
    }
}
@media screen and (max-width: 425px) {
    .coll {
        width: 100%; /* tamanho colunas horizontal*/
    }
    .moll {
        width: 25%;
    }
    .camera {
       width: 100%
    }
    #chatroom {
    width: 70%;
    height: 20%;
    }
}
